<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title> <!-- You can update the title as needed -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap 5 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

<!-- Bootstrap 5 JS (Popper included) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap 4 CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>

    </style>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      <link rel="stylesheet" href="/style.css">
  </head>
  
  </head>
<body>
  <div class="">
    <header>
        <div id="nav" class="container-fluid">
          <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">PARTHA DEY</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Skills</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                </ul>
            </div>
          </nav>
        </div>
    </header>
    <br><br><br><br><br>
    <div>
        <div class="container">
            <div class="row">
                <div id="greet-left" class="col-lg-7 col-md-6 col-sm-12 text-light">
                    <div class="divText" id="main1">
                        <p class="text">ℌ</p>
                        <p class="text2">𝔢𝔩𝔩𝔬 !</p>
                    </div>
                    <div class="name">
                        <p class="text3">I'm </p>
                        <h1 class="head"> Partha Dey</h1>
                    </div>
                    <p id="para">I am a web developer. Result-oriented, efficient, and energetic B.Tech computer science student with a focus on front-end development...</p>
                    <button id="btn-learn" class="btn btn-outline-primary active">Learn More</button>
                    <button id="btn-works" class="btn btn-outline-warning">My Works</button>
        
                    <div class="social">
                        <a href="<%= socialLinks.facebook %>"><i class="fa-brands fa-facebook"></i></a>
                        <a href="<%= socialLinks.twitter %>"><i class="fa-brands fa-twitter"></i></a>
                        <a href="<%= socialLinks.instagram %>"><i class="fa-brands fa-instagram"></i></a>
                        <a href="<%= socialLinks.linkedin %>"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="<%= socialLinks.github %>"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
                <div id="greet-right" class="col-lg-5 col-md-6 col-sm-12">
                    <img src="<%= photoSrc %>" alt="<%= altText %>" class="img-fluid" height="900px" width="900px">
                </div>
            </div>
        
            <div>
              <h1 class="head2">About me</h1>
              <div class="row">
                <div id="greet-top" class="col-lg-4 col-md-6 col-sm-12">
                  <img src="<%= photoS %>" alt="<%= altT %>" height="450px" width="400px" class="photo2">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12" id="about1">
                  <h1 class="text-warning">Objective</h1>
                  <p class="card-text">A Computer Science under graduate student who is seeking to find the opportunity to work in a fun and challenging working environment that will encourage me to improve and learn new necessary skills as well as be motivated by the company to do my best for the sake of helping myself as well as the company advancement in the software development engineering industry.</p>
                </div>
                <di id="greet-bottom" class="col-lg-4 col-md-4 col-sm-12" id="about2">
                  <h1 class="text-warning">Education</h1>
                  <h1 class="educ">Graduation</h1>
                  <p class="card-text2">Bachelor of Technology (B.E CSE)</p>
                  <p class="small">Chitkara University, Chandigarh</p>
                  <h1 class="educ">Higher Secondary</h1>
                  <p class="small">Amlasuli Indra-narayan High School, Amlasuli, <br>West Bengal</p>
                </di>
              </div>
            </div>
            <div class="skills">
              <h2 class="head3">Skills</h2>
              <h4 class="head4">I enjoy working with this.</h4>
              <div class="row" id="skills">
                <div id="skill-row1">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="logo"><i class="fa-brands fa-html5 fa-8x"  style="color: #682d9f;"></i></div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="logo"><i class="fa-brands fa-css3 fa-8x"  style="color: #073db0;"></i></div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="logo"><i class="fa-brands fa-js fa-8x" style="color: #2d6e9f;"></i></div>
                  </div>
                </div>
                <div id="skill-row2">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="logo"><i class="fa-brands fa-java fa-8x"  style="color: #cd570e;"></i></div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="logo"><i class="fa-brands fa-react fa-8x" style="color: #2d9f6c;"></i></div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="logo">
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 48 48">
                        <linearGradient id="eDMgMixeD6M6EYSYBuJ8ya_9nLaR5KFGjN0_gr1" x1="9.8" x2="11.081" y1="25.236" y2="36.899" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#058f92"></stop><stop offset=".5" stop-color="#038489"></stop><stop offset="1" stop-color="#026d71"></stop></linearGradient><path fill="url(#eDMgMixeD6M6EYSYBuJ8ya_9nLaR5KFGjN0_gr1)" d="M0.002,35.041h1.92v-7.085l2.667,6.057c0.329,0.755,0.779,1.022,1.662,1.022 s1.315-0.267,1.644-1.022l2.667-5.902v6.93h1.92v-7.258c0-0.697-0.277-1.035-0.849-1.209c-1.367-0.43-2.285-0.059-2.7,0.872 l-2.735,6.16l-2.649-6.16c-0.398-0.93-1.332-1.302-2.7-0.872C0.277,26.748,0,27.085,0,27.782v7.258H0.002z M13.441,29.281h1.92 v4.055c-0.015,0.2,0.064,0.731,0.99,0.745c0.472,0.008,2.821,0,2.85,0v-4.8h1.92c0.008,0,0,5.968,0,5.993 c0.01,1.472-1.828,1.662-2.673,1.687h-5.006v-0.96c0.01,0,4.787,0.001,4.801,0c1.088-0.115,0.959-0.714,0.959-0.896v-0.064H16.19 c-1.67-0.015-2.735-0.751-2.747-1.59C13.441,33.373,13.479,29.317,13.441,29.281z"></path><linearGradient id="eDMgMixeD6M6EYSYBuJ8yb_9nLaR5KFGjN0_gr2" x1="34.224" x2="35.101" y1="25.644" y2="35.217" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff9c0f"></stop><stop offset=".813" stop-color="#d67e00"></stop></linearGradient><path fill="url(#eDMgMixeD6M6EYSYBuJ8yb_9nLaR5KFGjN0_gr2)" d="M22.081,35.041h4.807c0.63,0,1.242-0.132,1.728-0.36c0.81-0.372,1.144-0.875,1.144-1.536 v-1.368c0-1.476-1.83-1.536-2.88-1.536h-1.92c-0.755,0-0.87-0.456-0.96-0.96v-0.96c0.09-0.384,0.258-0.9,0.923-0.96 c0.773,0,4.836,0,4.836,0v-0.96h-4.566c-0.755,0-3.114,0.09-3.114,1.92v1.187c0,0.84,0.738,1.524,2.34,1.692 c0.18,0.012,0.36,0.024,0.539,0.024c0,0,1.866-0.036,1.92-0.024c1.08,0,0.96,0.84,0.96,0.96v0.96c0,0.132-0.03,0.96-0.971,0.96 c-0.072,0-4.789,0-4.789,0V35.041z M40.32,33.08c0,1.159,0.655,1.809,2.392,1.939c0.162,0.011,0.325,0.021,0.488,0.021H48v-0.96 h-4.435c-0.991,0-1.325-0.416-1.325-1.011v-6.669h-1.92V33.08z M30.704,33.121v-4.8c0-1.02,0.5-1.724,1.916-1.92h0.672h3.447h0.525 c1.416,0.196,2.08,0.899,2.08,1.92v4.782c0,0.827-0.215,1.271-0.916,1.559L39.916,36h-2.16l-1.07-0.96h-1.257l-2.136,0.012 c-0.309,0-0.635-0.043-0.993-0.141C31.226,34.618,30.704,34.054,30.704,33.121z M32.624,33.121c0.098,0.467,0.473,0.96,1.14,0.96 h1.864l-1.068-0.96h2.175l0.519,0.482c0,0,0.186-0.152,0.186-0.482c0-0.33-0.016-4.8-0.016-4.8c-0.098-0.434-0.538-0.96-1.188-0.96 h-2.471c-0.749,0-1.14,0.548-1.14,1.058L32.624,33.121L32.624,33.121z"></path><linearGradient id="eDMgMixeD6M6EYSYBuJ8yc_9nLaR5KFGjN0_gr3" x1="35.029" x2="40.355" y1="11.716" y2="26.75" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#058f92"></stop><stop offset=".5" stop-color="#038489"></stop><stop offset="1" stop-color="#026d71"></stop></linearGradient><path fill="url(#eDMgMixeD6M6EYSYBuJ8yc_9nLaR5KFGjN0_gr3)" d="M46.199,25.389c-1.031-0.028-1.818,0.068-2.491,0.351c-0.191,0.081-0.496,0.083-0.528,0.323 c0.105,0.11,0.121,0.275,0.205,0.41c0.16,0.26,0.432,0.609,0.674,0.791c0.265,0.2,0.538,0.414,0.821,0.587 c0.504,0.307,1.067,0.483,1.553,0.791c0.286,0.181,0.57,0.411,0.85,0.615c0.138,0.102,0.23,0.259,0.41,0.323 c0-0.01,0-0.019,0-0.029c-0.094-0.12-0.119-0.285-0.205-0.411c-0.127-0.127-0.254-0.254-0.381-0.381 c-0.372-0.494-0.846-0.929-1.348-1.289c-0.401-0.288-1.298-0.677-1.466-1.143c-0.01-0.01-0.019-0.019-0.03-0.03 c0.284-0.032,0.617-0.135,0.879-0.205c0.441-0.118,0.834-0.087,1.289-0.205c0.205-0.059,0.41-0.117,0.615-0.176 c0-0.039,0-0.078,0-0.117c-0.23-0.236-0.395-0.548-0.645-0.762c-0.657-0.559-1.373-1.117-2.11-1.583 c-0.409-0.258-0.915-0.426-1.348-0.645c-0.146-0.074-0.402-0.112-0.498-0.234c-0.228-0.29-0.351-0.659-0.527-0.996 c-0.368-0.708-0.73-1.482-1.055-2.227c-0.223-0.508-0.368-1.01-0.645-1.466c-1.331-2.188-2.764-3.509-4.982-4.807 c-0.472-0.276-1.041-0.385-1.642-0.528c-0.323-0.019-0.645-0.039-0.968-0.059c-0.197-0.083-0.401-0.323-0.587-0.44 c-0.735-0.465-2.621-1.475-3.165-0.147c-0.344,0.838,0.514,1.656,0.821,2.081c0.215,0.298,0.491,0.632,0.645,0.968 c0.101,0.22,0.119,0.441,0.205,0.674c0.213,0.574,0.55,1.228,0.826,1.759c0.139,0.269,0.293,0.551,0.469,0.791 c0.108,0.147,0.293,0.212,0.323,0.44c-0.181,0.253-0.191,0.646-0.293,0.968c-0.458,1.445-0.285,3.24,0.381,4.308 c0.204,0.328,0.686,1.032,1.348,0.762c0.579-0.236,0.45-0.967,0.615-1.612c0.037-0.146,0.014-0.253,0.088-0.351 c0,0.01,0,0.019,0,0.03c0.176,0.351,0.351,0.704,0.528,1.055c0.391,0.629,1.084,1.286,1.67,1.73 c0.304,0.23,0.544,0.628,0.938,0.762c0-0.01,0-0.019,0-0.03c-0.01,0-0.019,0-0.03,0c-0.076-0.119-0.196-0.168-0.293-0.264 c-0.229-0.225-0.485-0.504-0.674-0.762c-0.534-0.725-1.006-1.519-1.436-2.345c-0.205-0.395-0.384-0.829-0.557-1.231 c-0.067-0.155-0.066-0.389-0.205-0.469c-0.19,0.294-0.468,0.532-0.615,0.879c-0.234,0.555-0.265,1.233-0.351,1.934 c-0.052,0.018-0.029,0.006-0.059,0.029c-0.408-0.099-0.552-0.518-0.704-0.879c-0.384-0.912-0.455-2.38-0.117-3.429 c0.087-0.272,0.482-1.127,0.323-1.378c-0.076-0.251-0.328-0.396-0.468-0.587c-0.175-0.236-0.348-0.548-0.469-0.821 c-0.314-0.711-0.612-1.538-0.943-2.257c-0.158-0.344-0.425-0.691-0.645-0.996c-0.243-0.338-0.516-0.587-0.704-0.996 c-0.067-0.145-0.158-0.378-0.059-0.528c0.032-0.101,0.076-0.143,0.176-0.176c0.17-0.132,0.643,0.043,0.821,0.117 c0.47,0.195,0.862,0.381,1.26,0.645c0.191,0.127,0.384,0.372,0.615,0.44c0.088,0,0.176,0,0.264,0 c0.413,0.095,0.875,0.03,1.26,0.147c0.682,0.207,1.292,0.529,1.846,0.879c1.69,1.067,3.071,2.585,4.016,4.397 c0.152,0.292,0.218,0.57,0.351,0.879c0.27,0.624,0.611,1.266,0.879,1.876c0.268,0.609,0.53,1.223,0.909,1.73 c0.2,0.266,0.97,0.409,1.319,0.557c0.245,0.104,0.647,0.211,0.879,0.351c0.444,0.268,0.874,0.587,1.289,0.879 C45.528,24.803,46.167,25.124,46.199,25.389z"></path><path fill="#00796b" d="M33.098,14.223c-0.215-0.004-0.367,0.023-0.528,0.059c0,0.01,0,0.019,0,0.03c0.01,0,0.019,0,0.03,0 c0.103,0.21,0.283,0.347,0.41,0.528c0.098,0.205,0.195,0.41,0.293,0.615c0.01-0.01,0.019-0.019,0.029-0.029 c0.181-0.128,0.265-0.332,0.264-0.645c-0.073-0.077-0.084-0.173-0.147-0.264C33.365,14.394,33.203,14.325,33.098,14.223z"></path>
                        </svg>
                    </div>
                  </div>
                </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div>
</div>
<div class="container">
  <h2 class="head5 text-center mb-3">Projects</h2>
  <h4 class="head6 mb-5">Some of my works</h4>
  <div class="row">
    <% const projects = [ 
      { title: "Musify", description: "A music application", link: "https://github.com/deypartha/SCM-Music-player-Group/blob/main/music.html", image: project1, alt: "Project Image" },
      { title: "DhabaPoint", description: "It is a restaurent based project", link: "https://github.com/deypartha/Project-DHABAPOINT/tree/master", image: project2, alt: "Project Image" },
      { title: "SafeHaven", description: "Based on Women Safety", link: "https://github.com/deypartha/Hack_With_Her", image: project3, alt: "Project Image" }
    ]; %>

    <% projects.forEach(project => { %>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="<%= project.image %>" class="card-img-top" alt="<%= project.alt %>">
          <div class="card-body d-flex flex-column text-center">
            <h5 class="card-title"><%= project.title %></h5>
            <p class="card-text"><%= project.description %></p>
            <a href="<%= project.link %>" class="btn btn-primary mt-auto">View Project</a>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>


<div class="container mt-4">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h1 class="head2">Get In Touch</h1>
      <img src="<%= project5 %>" class="" alt="<%=  %>" height="300px" width="300px">
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12 mt-5">
      <form action="/contact" method="POST" class="mt-9">
        <div>
          <label for="name1" class="form-label">Name</label>
          <input type="text" name="name1" id="name1" class="form-control" placeholder="Enter your name" required>
        </div>

        <div>
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email" required>
        </div>

        <div>
          <label for="message" class="form-label">Any Query</label>
          <textarea name="message" id="message" cols="30" rows="6" class="form-control" placeholder="Enter your message" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary mt-3 mb-5">Send Message</button>
      </form>
    </div>
  </div>
</div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        gsap.registerPlugin(ScrollTrigger);
        function animateElement(selector, options) {
            gsap.from(selector, {
                opacity: 0,
                scale: 0.9,
                immediateRender: false,
                ...options,
                scrollTrigger: {
                    trigger: selector,
                    start: selector === "#main1" ? "top 90%" : "top 75%", // First section starts earlier
                    end: "bottom 20%",
                    toggleActions: "play none none reset",
                    once: false,
                    markers: false,
                }
            });
        }
        animateElement("#main1", { x: -50, duration: 1, ease: "power3.out" });
        animateElement("#greet-left", { x: -100, duration: 1, ease: "power3.out" });
        animateElement("#greet-right", { x: 100, duration: 1, ease: "power3.out" });
    });


      document.addEventListener("DOMContentLoaded", function () {
        gsap.registerPlugin(ScrollTrigger);

        function animateElement(selector, options) {
            gsap.from(selector, {
                ...options,
                scrollTrigger: {
                    trigger: selector,
                    start: "top 85%",
                    end: "bottom 20%",
                    toggleActions: "play none none reset", // Replay animation when scrolling back up
                    once: false, // Ensures it runs every time
                    markers: false, // Set to true for debugging
                }
            });
        }
        animateElement("#greet-top", { opacity: 0, y: -50, duration: 1, ease: "power3.out" });
        animateElement("#about1", { opacity: 0, x: -100, duration: 1, ease: "power3.out" });
        animateElement("#greet-bottom", { opacity: 0, x: 100, duration: 1, ease: "power3.out" });
    });

    document.addEventListener("DOMContentLoaded",function(){
      gsap.registerPlugin(ScrollTrigger);
      function animateElement(selector){
        gsap.from(selector,{
          opacity: 0,
          y: 50,
          ease: "power3.out",
          duration:1,
          scrollTrigger:{
            trigger: selector,
            start: "top 80%",
            end: "bottom 30%",
            toggleActions: "play none none reset",
            once: false,
            markers: false,
          }
        })
      }
      animateElement("#skill-row1");
      animateElement("#skill-row2");
      animateElement("#skill-row3");
    })
  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybAA7sHf8hX5Q3L4vP4n32kM31Z5zJ9rX6lG4RGmI7r6uG3c7n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-cuVSTzc6pZ7HMXMwOxQst1kGQvyy0XnH+zU2fGpREhKP7zvR1I3AtZkBOp3H9vc+" crossorigin="anonymous"></script>
</body>
</html>